.meta
  padding: 1rem 0 0 0
  margin: 0

.meta > .info
  display: flex
  min-width: 280px
  /* NOTE: margin-bottom used when wrapped */
  margin: 0 0rem 2rem 0

.info > dl
  flex: 1 0
  margin: 0
  padding-right: 1.5rem
  min-width: 280px
