:root {
  --base03:    #002b36;
  --base02:    #073642;
  --base01:    #586e75;
  --base00:    #657b83;
  --base0:     #839496;
  --base1:     #93a1a1;
  --base2:     #eee8d5;
  --base3:     #fdf6e3;
  --yellow:    #b58900;
  --orange:    #cb4b16;
  --red:       #dc322f;
  --magenta:   #d33682;
  --violet:    #6c71c4;
  --blue:      #268bd2;
  --cyan:      #2aa198;
  --green:     #859900;

  --light-bg:  #ffffff;
  --accent: var(--magenta);
  --links: var(--blue);
  --logotype-background: var(--base2);
  --muted-text:;

  --body-background: var(--light-bg);
  --alternative: var(--base2);
  --text-color: #121212;
  --header-height: 6rem;
  --footer-height: 3rem;
}

/* DARK */

@media (prefers-color-scheme: dark) {
  :root {
    --body-background: var(--base03);
    --text-color: #cdcdcd;
    --alternative: var(--base02);
    --muted-text: var(--base01);
    --logotype-background: var(--base02);
  }
}

@font-face {
  font-family: 'ptsans-regular';
  src:  url('./font/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/PTSans-Regular.woff') format('woff'),
        url('./font/PTSans-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptserif-regular';
  src:  url('./font/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('./font/PTSerif-Regular.woff') format('woff'),
        url('./font/PTSerif-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

// NOTE: the selection rules for blink/webkit and mozilla
// NOTE: should not be combined otherwise some rules are not applied
::selection {
  background: var(--accent);
  color: var(--base2);
}

::-moz-selection {
  background: var(--accent);
  color: var(--base2);
}

html {
  box-sizing: border-box;
  font-size: 75%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--body-background);
  color: var(--text-color);
  font-size: 1.8rem;
  text-align: center;
  font-family: ptserif-regular;
  padding-bottom: var(--footer-height);
  overflow-y: scroll;
}

main {
  /* 3 * 280 columns with 20px/2rem spacing and 20px/2rem horizontal padding */
  max-width: 920px;
  margin: 0 auto;
  /* NOTE: 3rem must match --footer-height, workaround a bug with postcss optimization and variables */
  min-height: calc(100% - 3rem);
  padding: 4rem 1.5rem 0 1.5rem;
}

main > article, header, footer {
  text-align: left;
}

main p:first-child {
  margin-top: 0;
  padding-top: 0;
}

section {
  margin-bottom: 4rem;
}

/* TYPOGRAPHY */

body {
  font-family: ptsans-regular;
}

header, footer, .tech-info {
  font-family: ptsans-regular;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ptsans-regular;
  text-transform: uppercase;
}

h2 {
  font-size: 2.6rem;
  line-height: 1.2;
  letter-spacing: .2rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 1;
}

h4 {
  font-size: 1.6rem;
}

h2::first-letter {
  font-size: 2.8rem;
}

p {
  font-family: ptserif-regular;
}

dt {
  font-size: 1.6rem;
}

dd {
  margin-left: 2rem;
}

/* ELEMENTS */

p {
  margin: 1rem 0;
}

hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: var(--base00);
  margin: 1rem 0;
}

abbr {
  outline: none;
  cursor: inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  cursor: pointer;
}

/* HEADINGS */

h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
}

h2 {
  margin: 2rem 0 1rem 0;
  padding-bottom: 0.6rem;
  text-transform: uppercase;
  border-bottom: 1px solid var(--base00);
}

h3 {
  margin: 0 0 2rem 0;
  display: inline-block;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--base00);
}

h3 + p, h4 + p {
  margin-top: 0;
}

h3 {
  display: inline-block;
}

/* HEADER */

header {
  background: var(--body-background);
  height: var(--header-height);
}

header a {
  outline: none;
}

header nav {
  display: flex;
  justify-content: center;
  align-content: center;
}

header nav a {
  display: inline-block;
  flex: 1 0;
  text-align: center;
  color: inherit;
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 1.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid var(--alternative);

}

header nav a.selected {
  cursor: default;
}

header nav a:hover, header nav a.selected {
  transition: color, border-color .4s ease-in-out;
  color: var(--accent);
  border-bottom: 2px solid;
  border-color: var(--accent) !important;
}

/* LINKS */

a {
  color: var(--links);
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color, border-color .4s ease-in-out;
}

a:hover {
  color: var(--accent);
  border-color: var(--accent);
}

/* CONTENT */

.projects h4 {
  margin-bottom: 0;
}

small {
  font-size: 1.2rem;
}

.footnote {
  font-size: 1.4rem;
}

.muted {
  color: var(--base1);
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* FOOTER */

footer {
  text-align: center;
  height: var(--footer-height);
  padding: 0;
  margin: 0;
  color: var(--muted-text);
  font-size: 1.6rem;
}

footer {
  text-transform: uppercase;
  font-size: 1.4rem;
}

footer > ul {
  display: inline-block;
  margin-top: .2rem;
  height: var(--footer-height);
}

footer > ul > li {
  display: inline-block
}

footer > ul > li:not(:first-child):before {
  white-space: pre;
  content: ' | ';
}

footer > nav {
  display: inline-block;
  margin-right: 2rem;
  padding-top: 2px;
}

footer > nav > a {
  display: inline-block;
  position: relative;
}

footer > nav > a:not(:last-child) {
  margin-right: .5rem;
}

/* HOME */

.meta > .info {
  display: flex;
  flex-wrap: wrap;
  min-width: 280px;
  /* NOTE: margin-bottom used when wrapped */
  margin: 0 0rem 2rem 0;
}

.info > dl {
  flex: 1 0;
  margin: 0;
  padding-right: 1.5rem;
  min-width: 280px;
}

/* WORK */

#work h4 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.tech-info {
  font-size: 0;
}

.tech-info li {
  display: inline;
  font-size: 1.4rem;
}

.tech-info > li:not(:last-child)::after {
  white-space: pre;
  content: ', ';
}

.tech-info a {
  display: inline-block;
  padding: 0;
}

.logotypes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.logotypes li {
  flex: 0 1 auto;
  height: 150px;
  cursor: default;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  background: var(--logotype-background);
  border-radius: 0.4rem;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  opacity: .5;
  transition: background, opacity .5s ease-in-out;
  /* NOTE: wraps the items on old iphones */
  display: inline-block;
  vertical-align: top;
}

.logotypes li:hover {
  opacity: 1;
}

.logotypes > li > img {
  display: block;
  width: 100px;
}

.logotypes > li > span {
  text-transform: uppercase;
  display: inline-block;
  margin: .5rem 0 1.5rem 0;
}

h4 > .muted {
  display: inline-block;
}

.open-source > div {
  padding-left: 2rem;
  margin: 3rem 0;
  border-left: 4px solid var(--alternative);
}

/* SKILLS */

dl.skills {
  columns: 280px 2;
  min-width: 280px;
  margin: 0;
}

/* ABOUT */

/* NOTE: li items give half bottom margin for spacing when wrapped */
section.workflow {
  margin-bottom: 2rem;
}

/* NOTE: this is carefully crafted so old iOS without support for flex-wrap wraps elements as inline-block at 320px */

ul.workflow {
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
}

ul.workflow > li {
  flex: 0 1 auto;
  display: block;
}

ul.workflow > li > span:first-child {
  display: inline-block;
  padding: 0.5rem 2rem;
}

ul.workflow > li > p {
  text-indent: 2rem;
  margin-top: 0;
}

