<footer>
  <ul>
    <li>
      <span>&#169; 2016-2020</span>
    </li>
    <li>
      <a href="https://github.com/tmpfs" title="Github Profile">github</a>
    </li>

    <li>
      <a href="{{ link "/recipes/" }}" title="Recipes">recipes</a>
    </li>
  </ul
</footer>
