<header>
  <nav>
    <a class="index" href="/" title="Home">Home</a>
    <a class="work" href="/work/" title="Work">Work</a>
    <a class="about" href="/about/" title="About">About</a>
  </nav>
</header>
