<header class="no-select">
  <nav class="main">
    <a class="index" href="{{ link "/" }}" title="Home">Home</a>
    <a class="work" href="{{ link "/work/" }}" title="Work">Work</a>
    <a class="skills" href="{{ link "/skills/" }}" title="Skills">Skills</a>
    <a class="about" href="{{ link "/about/" }}" title="About">About</a>
  </nav>
</header>
