footer
  position: relative
  z-index: 1
  bottom: 0
  height: $footer-height
  padding: 5rem 2rem 2rem 2rem

a.contrast, a.contrast:hover
  position: absolute
  outline: none
  top: 5.2rem
  right: 2rem
  display: block
  text-decoration: none
  border: 0
  width: 16px
  height: 16px
  opacity: .5
  transition: opacity .5s ease-in-out
  background: url('/img/contrast-icon-dark.png') no-repeat

a.contrast:hover
  opacity: 1

a.contrast > img
  display: block

