h2, h3, h4, h5, h6
  color: $base01
  margin: 0 0 1rem 0

h2
  margin: 2rem 0 0 0
  padding-bottom: 0.5rem
  text-transform: uppercase
  font-size: 1.6rem
  line-height: 1.2
  border-bottom: 1px solid $base00

h3
  font-size: 1.8rem
  line-height: 1
  margin: 1rem 0

h3 + p, h4 + p
  margin-top: 0

