body
  font-family: ptsans-regular

header, footer, .tech-info
  font-family: ptsans-regular

h1, h2, h3, h4, h5, h6
  font-family: ptsans-regular
  text-transform: uppercase

h2
  font-size: 1.6rem
  line-height: 1.2

h3
  font-size: 1.8rem
  line-height: 1

h2::first-letter
  font-size: 2rem
 
p
  font-family: ptserif-regular
