h2, h3, h4, h5, h6
  margin: 0 0 1rem 0

h2
  margin: 2rem 0 1rem 0
  padding-bottom: 0.6rem
  text-transform: uppercase
  border-bottom: 1px solid $base00

h3
  margin: 0 0 2rem 0
  display: inline-block
  padding-bottom: 0.3rem
  border-bottom: 1px solid $base00

h3 + p, h4 + p
  margin-top: 0

h3
  display: inline-block
