<footer>
  <ul>
    <li>
      <span>&#169; 2016-2021</span>
    </li>
    <li>
      <a {{match "/contact/" "class='selected'"}} href="{{ link "/contact/" }}" title="Contact">contact</a>
    </li>
    <li>
      [[kitchen]]
    </li>
  </ul
</footer>
