<footer>
  <ul>
    <li>
      <span>&#169; 2016-2020</span>
    </li>
    <li>
      <a {{match "/about/" "class='selected'"}} href="{{ link "/about/" }}" title="About">about</a>
    </li>
    <li>
      <a href="{{projects.kitchen}}" title="Recipes">Kitchen</a>
    </li>
  </ul
</footer>
